@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.625rem;
  --background: #d9ed92;
  --foreground: #184e77;
  --card: #b5e48c;
  --card-foreground: #184e77;
  --popover: #b5e48c;
  --popover-foreground: #184e77;
  --primary: #34a0a4;
  --primary-foreground: #ffffff;
  --secondary: #99d98c;
  --secondary-foreground: #184e77;
  --muted: #99d98c;
  --muted-foreground: #1e6091;
  --accent: #52b69a;
  --accent-foreground: #184e77;
  --destructive: oklch(0.577 0.245 27.325);
  --border: #76c893;
  --input: #76c893;
  --ring: #34a0a4;
}

.dark {
  --background: #184e77;
  --foreground: #d9ed92;
  --card: #1a759f;
  --card-foreground: #d9ed92;
  --popover: #1a759f;
  --popover-foreground: #d9ed92;
  --primary: #76c893;
  --primary-foreground: #184e77;
  --secondary: #1e6091;
  --secondary-foreground: #d9ed92;
  --muted: #1e6091;
  --muted-foreground: #b5e48c;
  --accent: #52b69a;
  --accent-foreground: #184e77;
  --destructive: oklch(0.704 0.191 22.216);
  --border: #1a759f;
  --input: #1a759f;
  --ring: #99d98c;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
